/* CSS utilizando la metodología BEM */
.academic {
    background-color: var(--otro-color);
    padding: 1%;
}

.academic__title {
    text-align: center;
    font-size: 30px;
}

.academic__courses {
    display: flex;
    justify-content: space-between;
}

.academic__courses__box {
    flex: 1;
    max-width: 280px; /* Ajusta el tamaño máximo del contenedor */
    text-align: center;
}

.academic__courses__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.academic__courses__item {
    font-weight: bold;
  font-size: 18px;
  margin-top: 5px; 
}

.academic__courses__item--img img {
    
    max-width: 100%; /* Ajusta el tamaño de la imagen */
    background-color: var(--otro-color);
    padding: 10px;

}
@media (max-width: 1024px) {
    .academic__courses__box {
        max-width: 48%; /* Ocupa casi la mitad del ancho disponible en tablets */
        margin-bottom: 20px; /* Ajusta el espacio entre los elementos en tablets */
    }
}
