skills {
  text-align: center;
  font-size: 30px; /* Alinear el contenido al centro */
}


.skills__line {
  display: flex; /* Muestra los elementos en una fila */
  justify-content: space-between; /* Espacio entre cada contenedor */
}

.skills__title {
  text-align: center;
    font-size: 30px;
  
}

.skills__box {
  width: 200px; /* Tamaño del cuadrado */
  height: 260px; 
  display: flex; /* elementos en columna dentro del cuadrado */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ffffff; /* borde para visualizar el cuadrado */
  background-color: #ffffff; /* relleno para visualizar el cuadrado */
  margin: 10px; 
}

.skills__box ul {
  list-style: none;
  padding: 0;
}

.skills__img img {
  width: 70%; /* Hacer que todas las imágenes ocupen el 100% del contenedor */
  height: auto; /* Permitir que la altura se ajuste proporcionalmente */
}

.skills__name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px; /* Espacio entre la imagen y el nombre */
}


  /* Estilos para dispositivos con un ancho de pantalla de hasta 768px */
@media (max-width: 768px) {
  .skills {
    font-size: 26px;
  }

  .skills__line {
    flex-direction: column;
    align-items: center;
  }

  .skills__box {
    width: 100%;
    margin: 10px 0;
  }
}

/* Estilos para dispositivos con un ancho de pantalla de hasta 1024px */
@media (max-width: 1024px) {
  .skills {
    font-size: 26px;
  }

  .skills__box {
    width: 150px;
  }
}
@media (max-width: 425px) {
  .skills {
    font-size: 22px;
  }

  .skills__line {
    flex-direction: column;
    align-items: center;
  }

  .skills__box {
    width: 100%;
    margin: 10px 0;
  }
}   